body {
  background-color: #282c34;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form {
  margin-top: 50px;
}

.form  input[type=text] {
  box-sizing: border-box;
  margin-bottom: 50px;
  height: 30px;
  margin-right: 10px;
}

.form  input[type=submit] {
  margin-bottom: 50px;
  height: 30px;
}

.row {
  margin: 0 auto;
  width: 50%;
  margin-bottom: 16px;
  color: white;
}

.row span {
  color: #ce8820;
  font-size: 22px;
}
